* {
  font-family: Inter;
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: whitesmoke;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  height: 630px;
  background: linear-gradient(rgba(0, 0, 0, 0) -110%, #000000 100%),
    url(https://unread.today/files/48/c8f20883c72cb7cf6c5e10f9313f8c87.jpg);
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  width: 1200px;
  height: 42px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.editorsChoice {
  background-color: black;
  height: 327px;
}
.logo-input {
  width: 310px;
  display: flex;
  justify-content: space-between;
}
input {
  background-color: transparent;
  border: transparent;
  font-weight: 500;
  size: 30px;
  outline: none;
}
::placeholder {
  color: white;
}
.nextPublishing {
  width: 600px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}
.nextPublishing p {
  width: 200px;
  height: 15px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  opacity: 0.5;
  margin: end;
}
.nextPublishing h3 {
  width: 160px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #ffffff;
  margin-left: -40px;
}
.timing {
  background-color: #ffffff80;
  width: 200px;
  height: 32px;
  border-radius: 40px;
  box-shadow: 4px 4px 50px -4px #d1d1d199;
  margin: 8px auto auto -40px;
}
.timing h2 {
  margin: auto auto auto 17px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  padding: 4px;
}
main {
  width: 1200px;
  height: 450px;
  margin: 50px auto;
  display: flex;
  gap: 100px;
}
.mainPic {
  height: 450px;
  width: 450px;
  background: url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/934b24cd1ba5058d34b1c78276057647.jpeg);
  background-position: center;
  background-position-y: 10%;
  background-size: 180%;
  border-radius: 5%;
  transition: 0.6s;
  background-repeat: no-repeat;
}
.mainPic:hover {
  background-size: 220%;
}
.mainContent {
  height: 450px;
  width: 670px;
  margin: auto auto auto -30px;
}
.lead {
  margin-top: 40px;
  margin-bottom: -25px;
}
.lead h5 {
  animation: blink 2s infinite;
}
.mainContent h5 {
  font-size: 1.44rem;
  line-height: 2.4rem;
  color: #0078f6;
  text-transform: uppercase;
}
.strokeText {
  font-size: 2.6rem;
  line-height: 4.3rem;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
.author {
  display: flex;
}
.authorImg {
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 3px;
  transition: 0.5s;
}
.authorImg:hover {
  border: 1px solid white;
}
.linkToEl {
  text-decoration: none;
  color: white;
  margin-bottom: 5.4rem;
}
.insideATag {
  font-size: 2.6rem;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  margin-top: -30px;
}
.linkToAuthor {
  text-decoration: none;
  color: white;
  opacity: 0.4;
  padding: 7px;
  margin-top: 3px;
  font-size: 13px;
  transition: 0.6s;
}
.linkToAuthor:hover {
  opacity: 1;
}
.author2ndSection {
  display: flex;
  flex-direction: column;
}
.authorDate {
  color: white;
  margin-left: 10px;
  font-size: 14px;
}
.pre-dot {
  color: white;
  font-size: 14px;
}
.pre-dot::before {
  content: "•";
  margin-right: 10px;
}
.insideAuthor2ndSection {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.editorSectionContainer {
  width: 1600px;
  height: 600px;
  margin: -280px auto;
}
.editorsText {
  color: white;
  margin: auto auto 40px 200px;
  font-size: 22px;
}
.editorSlider {
  height: 430px;
  display: flex;
  gap: 30px;
}
.sliders1 {
  height: 430px;
  width: 300px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/c32087273f9380ea1e5d1b6fcbabb98a_square.jpg);
  background-size: cover;
  border-radius: 20px;
  transition: 0.4s;
}
.sliders1:hover {
  scale: 1.1;
}
.sliderTop {
  height: 330px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.slidersCaption {
  height: 100px;
  width: 260px;
  margin: auto;
}
.blue-dot {
  width: 10px;
  height: 10px;
  margin-top: 18px;
}
.slidersTiming {
  color: white;
}
.views-comment {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 130px;
  margin-top: -70px;
}
.slidersTitle {
  width: 260px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}
.blueSection1 {
  height: 26px;
  width: 120px;
  background-color: #0078f6;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliders2 {
  height: 430px;
  width: 300px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/2a7768a3887baa7c457da0c416e055b3_square.jpg);
  background-size: cover;
  border-radius: 20px;
  transition: 0.4s;
}
.sliders2:hover {
  scale: 1.1;
}
.blueSection2 {
  height: 26px;
  width: 120px;
  background-color: #0078f6;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliders3 {
  height: 430px;
  width: 300px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/25ff02cc9e29ceec81d0895c1e680a05_square.jpg);
  background-size: cover;
  border-radius: 20px;
  transition: 0.4s;
}
.sliders3:hover {
  scale: 1.1;
}
.blueSection3 {
  height: 26px;
  width: 120px;
  background-color: #0078f6;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.sliders4 {
  height: 430px;
  width: 300px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/fdb77197acfadde2f4e55871d72635f9_square.jpg);
  background-size: cover;
  border-radius: 20px;
  transition: 0.4s;
}
.sliders4:hover {
  scale: 1.1;
}
.blueSection4 {
  height: 26px;
  width: 240px;
  background-color: #0078f6;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
}
.sliders5 {
  height: 430px;
  width: 300px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(https://unread.today/files/fb0f77dd-ca16-4803-8f17-83cccdc85cb1/4d22907ce24bb003211938e803c94e75_square.jpg);
  background-size: cover;
  border-radius: 20px;
  transition: 0.4s;
}
.sliders5:hover {
  scale: 1.1;
}
.blueSection5 {
  height: 26px;
  width: 120px;
  background-color: #0078f6;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.section2 {
  width: 1200px;
  height: 1400px;
  margin: 300px auto;
  background-color: whitesmoke;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: flex-start;
}
.articles {
  width: 740px;
  height: 240px;
  position: relative;
}
.articlesAuthor {
  width: 740px;
  height: 40px;
  position: absolute;
  transition: 0.8s;
}
.articlesAuthor:hover {
  transform: translateY(-5px);
}
.articlesAuthor:hover .articlesContent {
  box-shadow: 0px 40px 60px -60px rgba(0, 0, 0, 0.75);
}
.linkToAuthorArticle {
  text-decoration: none;
  color: black;
  padding: 7px;
  margin-top: 3px;
  font-size: 13px;
  transition: 0.6s;
}
.authorDateArticle {
  color: gray;
  margin-left: 10px;
  font-size: 14px;
}
.pre-dotArticle {
  color: gray;
  font-size: 14px;
}
.articlesContent {
  height: 185px;
  width: 740px;
  background-color: white;
  box-shadow: 0px 0px 50px 4px #d1d1d14d;
  border-radius: 0px 20px 20px 20px;
  display: flex;
  position: absolute;
  transition: 0.8s;
}
.blue-dotArticles {
  width: 10px;
  height: 10px;
  margin: 38px 20px;
}
.articlesContentTop {
  display: flex;
}
.blue-dotArticlesText {
  height: 26px;
  width: 120px;
  color: #0078f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: -20px;
  font-size: 14px;
  font-weight: 500;
}
.articlesContentText {
  font-size: 20px;
  margin-left: 48px;
  margin-top: -20px;
  width: 450px;
  transition: 0.2s;
}
.articlesContentText:hover {
  color: #0078f6;
}
.articlesAuthorImg {
  width: 140px;
  height: 140px;
  margin: auto 50px;
}
.flex-end {
  align-self: flex-end;
}
.authorFlexEnd {
  flex-direction: row-reverse;
}
footer {
  height: 800px;
  background-color: #000000;
}
.footerInside {
  width: 1200px;
  height: 550px;
  margin: 50px auto;
  padding: 30px;
}
.footerContent {
  width: 1200px;
  height: 405px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.footerContentLeft {
  width: 470px;
  height: 410px;
}
.footerContentRight {
  width: 650px;
  height: 410px;
}
.partner {
  width: 330px;
  height: 100px;
  background: url(https://unread.today/img/btn-black.png);
  margin-top: 20px;
  border-radius: 20px;
}
.firstText {
  color: white;
  font-family: Inter;
  font-size: 11.6px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.30000001192092896px;
  padding-top: 10px;
  opacity: 0.6;
  padding-left: 30px;
}
.firstText2 {
  font-family: Inter;
  font-size: 13.4px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: white;
  padding-left: 30px;
}
